<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bandage</title>
    <link href="public/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid d-flex h-100">
    <div class="justify-content-center align-self-center mx-auto" id="login-container">
        <a href="/logout" data-test="logout">Logout</a>
    </div>
</div>

</body>
</html>
