{{> header}}
<body>
<div class="container-fluid d-flex h-100">
    <div class="justify-content-center align-self-center mx-auto" id="login-container">
        <a href="/logout" data-test="logout">Logout</a>
    </div>
</div>

</body>
</html>
