<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bandage</title>
    <link href="/public/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link href="/public/favicon-96x96.png" rel="icon" type="image/png" sizes="96x96">
</head>
{{#if loggedInUser}}
    <nav class="navbar fixed-top navbar-expand-lg bg-transparent">
        <div class="navbar-contents">
            <div id="navbar-username" data-test="user-short-name">{{loggedInUser.shortName}}</div>
            <div><a href="/upload" id="upload" data-test="upload-link">Upload track</a></div>
            <div><a href="/logout" id="logout"data-test="logout">Logout</a></div>
        </div>
    </nav>
{{/if}}