{{> header}}
<body>
<div class="container-fluid d-flex h-100">
    <div class="justify-content-center align-self-center mx-auto" id="login-container">
        <h1>Please log in</h1>
        <br>
        <br>
        <form class="form-group" action="/login" method="POST">
            <label for="user">User</label>
            <br>
            <select class="form-control full-width" id="user" name="user">
                {{#each users}}
                    <option value="{{this.userId}}">{{this.initials}}</option>
                {{/each}}
            </select>
            <br>
            <label for="password">Password</label>
            <br>
            <input class="form-control full-width" id="password" type="password" name="password" />
            <br>
            <button class="form-control full-width" type="submit" formenctype="application/x-www-form-urlencoded" formmethod="post" name="login">Log in</button>
        </form>
    </div>
</div>

</body>
{{> footer}}
