#main-container {
    margin-top: 8%;
    margin-bottom: 8%;
}

#http-error-container {
    margin-top: 8%;
}

audio {
    width: 100%;
}

.title-link {
    color: black;
}

.working-title-link {
    color: #850001;
}

.navbar-contents {
    width: 100%;
    text-align: right;
}

#navbar-username {
    margin-right: 10px;
}

.footer {
    width: 100%;
    background-color: whitesmoke;
}

/* styling for Chrome HTML5 audio player using pseudo selector */
audio::-webkit-media-controls-panel {
    background-color: whitesmoke;
}


#audio-player-metadata {
    margin-left: 15px;
}

.highlighted {
    background-color: #ffe6ee;
}

.top > * {
    vertical-align: top;
}

.form-required {
    color: red;
    padding-left: 2%;
}

#error-message {
    color: red;
}
