#main-container {
    margin-top: 8%;
    margin-bottom: 8%;
}

#http-error-container {
    margin-top: 8%;
}

audio {
    width: 100%;
}

.navbar-contents {
    width: 100%;
}

#logout {
    float: right;
}

.footer {
    width: 100%;
    background-color: whitesmoke;
}

#audio-player-metadata {
    margin-left: 15px;
}

.highlighted {
    background-color: #ffe6ee;
}

.top > * {
    vertical-align: top;
}
