#login-container {
    margin-top: 8%;
}

#http-error-container {
    margin-top: 8%;
}

.navbar-contents {
    width: 100%;
}

#logout {
    float: right;
}

.footer {
    width: 100%;
    background-color: whitesmoke;
}

.top > * {
    vertical-align: top;
}
